{% extends 'home/base.html' %}

{% block content %}

<div class="chat">
    <div class="chatHeader">
        <div class="chatHeaderLeft">
            <img src="zamonuz" alt="">
            <span>Support</span>
        </div>
        <div class="chatHeaderRight">
            <button>Close</button>
        </div>
    </div>
    <div class="chatMain">
        <div class="adminMassage">
            <div class="massageInfo">
                <span>May 2022 18:93</span>
            </div>
            <span>Salom</span>
        </div>
        <div class="userMassage">
            <div class="massageInfo">
                <span>May 2022 18:97</span>
            </div>
            <span>Alik</span>
        </div>
    </div>
    <div class="chatBottom">
        <div class="sendMassage">
            <input type="text" placeholder="Xabar Yozing!">
        </div>
    </div>
</div>

{% endblock content %}