{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<div class="register">

    <div class="registerBox">
        <div class="{% if messages %} orangemassageBar {% else %} redmassageBar {% endif %}">
            <p></p>
        </div>
        <span class="registerBoxTitle">Входить</span>
        <form method="POST">
            <div class="registerInputs">
                <div class="registerInputsChil">
                    <label for="">Отправим смс с кодом подтверждения</label>
                    <div class="registerInputsChilInput">
                        <p class="telTitle">+998</p>
                        <input name="phone_number" type="text" placeholder="00 000-00-00">
                    </div>
                </div>
            </div>
            <div class="registerFooter">
                <div class="registerFooterLoginNext">
                    <span>Создавать аккаунт</span><a href="">Регистрация</a>
                </div>
                <button>Получить код</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}